---
import Shell from "@layouts/Shell.astro";
import BlogFeed from "@components/BlogFeed.astro";
import Sponsors from "@components/Sponsors.astro";
import FeaturedSpeakers from "@components/Featured.astro";
import { config } from "../config";
import { Strip, Col, Row, Card, Button } from "@canonical/react-components";
import uca24logo from "@assets/logo.svg";
---

<Shell>
    <Strip type="accent" element="section" includeCol={false}>
        <Row>
            <Col size={3} />
            <Col size={9}>
                <h1 class="p-heading--1">UbuCon Asia 2024</h1>
            </Col>
        </Row>
        <Row>
            <Col size={3}>
                <img src={uca24logo.src} alt="" width="200" />
            </Col>
            <Col size={9}>
                <p class="p-heading--2">August 31 - September 2</p>
                <p class="p-heading--2">JECRC Foundation, Jaipur, India</p>
            </Col>
        </Row>
        <Row>
            <Col size={3} />
            <Col size={9}>
                <hr />
              
                <a
                    href="https://events.canonical.com/event/47/timetable/"
                    class="p-button">Schedule</a
                >
                <a
                    href="https://docs.ubucon.asia/general/chat/"
                    class="p-button">Chat</a
                >
                  <a href="https://photos.app.goo.gl/EMVw8zJQqgRvDqzaA" class="p-button"
                    >Share photo</a
                >
                <a href="/register" class="p-button--positive">Register</a>
            </Col>
        </Row>
        <Row>
            <Col size={12}>
                <div class="p-suru is-dark"></div>
            </Col>
        </Row>
    </Strip>
    <BlogFeed />
    <FeaturedSpeakers />
    <section
        class="p-strip--image is-light"
        style={{
            backgroundImage: `url('${config.cityBanner.image}') `,
            backgroundSize: "cover",
            backgroundPosition: "center center",
        }}
    >
        <Row>
            <Col size={6} emptyLarge={7}>
                <Card title={config.cityBanner.title} overlay>
                    <p>{config.cityBanner.description}</p>
                    {
                        config.cityBanner.buttons.map((item) => (
                            <Button element="a" href={item.url}>
                                {item.label}
                            </Button>
                        ))
                    }
                </Card>
            </Col>
        </Row>
    </section>
    <Sponsors />
</Shell>

<style></style>
