---
import "vanilla-framework/_index.scss";
import GlobalNavigation from "@components/GlobalNavigation.tsx";
import Layout from "@layouts/Layout.astro";

interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
import { config } from "../config";
---

<Layout
	title={title ? `${title} - ${config.siteTitle}` : config.siteTitle}
	description={description ? description : config.siteDescription}
>
	<div class="l-site">
		<GlobalNavigation
			logoTitle={config.siteTitle}
			navItems={config.navigation}
			navItemsRight={config.navigationRight}
			client:only="react"
		/>
		<slot />
		<footer class="l-footer--sticky p-strip--dark">
			<div class="u-fixed-width">
				<div class="p-logo-section--dense">
					<div class="p-logo-section__items">
						{
							config.footer.organizers.map((item) => (
								<div class="p-logo-section__item" >
									<a href={item.link}>
										<img style={{maxHeight: "60px", paddingTop: "10px"}}
											class="p-logo-section__logo"
											src={item.logoImage}
											alt={item.name}
										/>
									</a>
								</div>
							))
						}
					</div>
				</div>
			</div>
			<nav class="row" aria-label="Footer">
				<div class="has-cookie">
					<p>
						{config.footer.copyright}
					</p>
					<ul class="p-inline-list--middot">
						<li class="p-inline-list__item">
							<a href={config.footer.contactUs}
								><small>Contact us with Email</small></a
							>
						</li>
						<li class="p-inline-list__item">
							<a href={config.footer.srcRepoUrl}
								><small>See source code</small></a
							>
						</li>
						<li class="p-inline-list__item">
							<a href="https://www.ubucon.asia"
								><small>UbuCon Asia in other years</small></a
							>
						</li>
					</ul>
					<span class="u-off-screen"
						><a href="#">Go to the top of the page</a></span
					>
				</div>
			</nav>
		</footer>
	</div>
</Layout>
